<div class = 'container'>
  <h2><%= sidequest.name %></h2>
  <p>Address:<%= sidequest.address %></p>
  <p><%= sidequest.description%></p>
  <div>
    <%= link_to "Explore", trip_side_quests_path(@trip, sidequest), class: "btn-flat"  %>
     <%= link_to "Add Stop", new_trip_side_quest_stop_path(@trip, sidequest ), class: "btn-flat"  %>
  </div>
</div>
