<div class = 'container sidequest-image-trip-page'>
  <div id="carouselExampleControls" class="carousel slide mt-2" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%# cloudinary sidequest photo link %>
        <%= image_tag "torresdelpaine.jpeg" %>
      </div>
      <div class="carousel-item">
        <%# cloudinary sidequest photo link %>
        <%= image_tag "bigbend.jpg" %>
      </div>
      <div class="carousel-item">
        <%# cloudinary sidequest photo link %>
         <%= image_tag "capies.jpeg" %>
      </div>
      <div class="carousel-item">
        <%# cloudinary sidequest photo link %>
         <%= image_tag "mcafeeknob.jpeg" %>
      </div>
      <div class="carousel-item">
        <%# cloudinary sidequest photo link %>
         <%= image_tag "bigdinodrumheller.jpeg" %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<%= simple_form_for @trip do |f| %>
  <div class = "container mt-3">
    <div class="field">
      <i class="fa-solid fa-magnifying-glass"></i>
      <%= f.input :start_location, :label => "Origin" %>
    </div>
    <div class="field">
      <i class="fa-solid fa-magnifying-glass"></i>
      <%= f.input :end_location, :label =>  "Destination"%>
    </div>
  </div>

  <div class = 'container'>
    <%= f.input :categories, collection: [ 'Parks', 'Off-Road Activities', 'Wine tours' ] %>
  </div>
  <div class = "footer-info">
      <%= f.button :submit, 'SEARCH', class: "foottext"%>
  </div>
<%end %>
