<div class = 'sidequest-image-trip-page'>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%# cloudinary sidequest photo link %>
        <%= image_tag "torresdelpaine.jpeg" %>
      </div>
      <div class="carousel-item">
        <%# cloudinary sidequest photo link %>
        <%= image_tag "bigbend.jpg" %>
      </div>
      <div class="carousel-item">
        <%# cloudinary sidequest photo link %>
         <%= image_tag "capies.jpeg" %>
      </div>
      <div class="carousel-item">
        <%# cloudinary sidequest photo link %>
         <%= image_tag "mcafeeknob.jpeg" %>
      </div>
      <div class="carousel-item">
        <%# cloudinary sidequest photo link %>
         <%= image_tag "bigdinodrumheller.jpeg" %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
  </div>
</div>

<%= simple_form_for @trip do |f| %>
      <div class = "container">
        <div class="field">

          <i class="fa-solid fa-magnifying-glass"></i>

          <%= f.input :start_location, :label => "Origin" %>
        </div>
        <div class="field">

          <i class="fa-solid fa-magnifying-glass"></i>

          <%= f.input :end_location, :label =>  "Destination"%>
        </div>
      </div>

      <div class = 'container'>
        <%= f.input :categories, collection: [ 'Parks', 'Off-Road Activities', 'Wine tours' ] %>
      </div>
    <div class = "footer-info text-center">
      <div class = "btn">
        <%= f.button :submit, 'Search', class: "btn footbutton"%>
      </div>
    </div>
<%end %>
