<div class = 'sidequest-image-trip-page'>

</div>

<%= simple_form_for @trip do |f| %>
      <div class = "container">
        <div class = 'trip-origin-address-icon'>
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <%= f.input :start_location, :label => "Orgin" %>
        <div class = 'trip-destination-address-icon'>
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <%= f.input :end_location, :label =>  "Destination"%>
      </div>

      <div class = 'container'>
        <%# <div class = 'trips-description-icon'> %>
          <%# <i class="fa-sharp fa-solid fa-feather"></i> %>
        <%# </div> %>
        <%= f.input :categories, collection: [ 'Parks', 'Off-Road Activities', 'Wine tours' ] %>
      </div>
    <div class = "footer-info text-center">
      <div class = "btn">
        <%= f.button :submit, 'Search', class: "btn btn-link foottext"%>
      </div>
    </div>
<%end %>
