<div
  class="map-trips"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-trip-value="<%= @trip.to_json %>"
  data-map-api-key-value="<%=  ENV['MAPBOX_API_KEY'] %>" >
  <div id="instructions"></div>
</div>


<div class="trip-card">
  <div class="trip-title">
    <p>
      <i class="fa-solid fa-star"></i>
      <div>
        Start Point:
        <%= @trip.start_geolocation['display_name']%>
      </div>
    </p>
  </div>
  <div class="trip-info">
    <ul>
      <% @sidequests.each do |sidequest|%>
        <li>
          <%= link_to sidequest.name, side_quests_path(sidequest.id)%>
        </li>
      <%end %>
    </ul>
  </div>
  <div class="trip-title">
    <p>
      <i class="fa-solid fa-star"></i>
      <div>
        End Point:
        <%= @trip.end_geolocation['display_name']%>
      </div>
    </p>
  </div>
</div>

<div class="footer-info text-center">
  <div class="btn">
    <%= link_to 'NAVIGATE', '#', class: "foottext" %>
  </div>
</div>
