<div class="container py-5">
  <div class="column">
    <div class="col-12 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h2>Share a Siqequest</h2>
        <%= simple_form_for @sidequest do |f| %>
          <%= f.input :photo, as: :file, direct_upload: true %>
          <%= f.input :name, placeholder: 'Mikes ATV rentals' %>
          <%= f.input :address, placeholder: '200 salt lake rd' %>
          <%= f.input :price, placeholder: '$100',:collection => 1..300 %>
          <%= f.input :description, placeholder: 'Experience california in a new and exiciting way' %>
          <%= f.submit class: 'btn btn-outline-success' %>
          <%= link_to "Cancel", sidequests_url, class: 'btn btn-outline-danger' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
