<div class="container">
  <div class = "navbar-sidequests" >
    <% if user_signed_in? %>
      <% unless current_page?(controller: 'trips', action: 'new') || current_page?(controller: 'pages', action: 'home')%>
        <div class = 'back-btn'>
          <%if current_page?(controller: 'trips', action: 'show')  %>
            <%= link_to new_trip_path, class:"fa-solid fa-chevron-left" %>
          <% elsif current_page?(controller: 'side_quests', action: 'show') %>
            <%# instance variable required %>
            <%#= link_to trip_path, class:"fa-solid fa-chevron-left" %>
          <% elsif current_page?(controller: 'reviews', action: 'index') %>
            <%# instance variable required %>
            <%#= link_to sidequest_path, class:"fa-solid fa-chevron-left" %>
          <% elsif current_page?(controller: 'reviews', action: 'new') %>
            <%# instance variable required %>
            <%#= link_to sidequest_path, class:"fa-solid fa-chevron-left" %>
          <% else %>
            <%=link_to :back, class:"fa-solid fa-chevron-left" %>
          <% end %>
        </div>
      <% else %>
        <div>
        </div>
      <% end %>

      <div class = "navbar-brand">
        <%= image_tag "https://cdn-icons-png.flaticon.com/512/2863/2863130.png" %>
      </div>

      <div class = "avatar-dropdown">
        <div class="nav-item dropdown">
          <%= image_tag "https://cdn-icons-png.flaticon.com/512/4128/4128176.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Home", new_trip_path, class: "dropdown-item" %>
            <%= link_to "Create a sidequests", new_side_quest_path, class: "dropdown-item" %>
            <%= link_to "my sidequests", side_quests_path, class: "dropdown-item" %>
            <%= link_to "my trips", trips_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </div>
        </div>
      </div>
    <% else %>
      <div class = "knight-logo">
        <%= link_to "#", class: "navbar-brand" do %>
          <%= image_tag "https://cdn-icons-png.flaticon.com/512/2863/2863130.png" %>
        <% end %>
      </div>

      <div class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </div>
    <% end %>
  </div>
</div>
