<div class="container">
  <div class = "navbar-sidequests" >
    <% if user_signed_in? %>
      <div class = 'back-btn'>
        <%= link_to :back do %>
          <i class="fa-solid fa-chevron-left"></i>
        <% end %>
      </div>
      <div class = "navbar-brand">
        <%= link_to new_trip_path do %>
          <%= image_tag "https://cdn-icons-png.flaticon.com/512/2863/2863130.png" %>
        <% end %>
      </div>

      <div class = "avatar-dropdown">
        <div class="nav-item dropdown">
          <%= image_tag "https://cdn-icons-png.flaticon.com/512/4128/4128176.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Home", root_path, class: "dropdown-item" %>
            <%= link_to "Create a Sidequest", new_side_quest_path, class: "dropdown-item" %>
            <%= link_to "My Trips", trips_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </div>
        </div>
      </div>
    <% else %>
      <div class = "knight-logo">
        <%= link_to "#", class: "navbar-brand" do %>
          <%= image_tag "Groupbigknight.png" %>
        <% end %>
      </div>
      <div class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </div>
    <% end %>
  </div>
</div>
