<div class="container">
  <div class="column">
    <div class="col-12 offset-sm-3">
      <div class="rounded p-2 shadow">
        <small>
          <h2>Post a Sidequest</h2>
        </small>
        <%= simple_form_for  sidequest do |f| %>
          <%= f.input :name, placeholder: 'tim hortons' %>
          <%= f.input :address, placeholder: '1256 wilson' %>
          <%= f.input :category, placeholder: 'type of sidequest' %>
          <%= f.input :description, placeholder: 'Amazing experience' %>
          <%= f.input :price, placeholder: '5 CAD' %>
          <%= f.submit class: 'btn-flat' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
