
    <div class="form">
      <h2>Post your latest SideQuest!</h2>
          <%= simple_form_for  sidequest do |f| %>
          <span id="name"><%= f.input :name, placeholder: 'tim hortons' %></span>
          <span id="address"><%= f.input :address, placeholder: '1256 wilson' %></span>
          <span id="category"><%= f.input :category, placeholder: 'type of sidequest' %></span>
          <span id="description"><%= f.input :description, placeholder: 'Amazing experience' %></span>
          <span id="description"><%= f.input :price, placeholder: '5 CAD' %></span>
          <%= link_to 'Back', side_quests_path, class: 'btn btn-outline-danger' %>
          <%= f.submit class: 'btn btn-outline-success' %>
          <% end %>
    </div>
