<div class = "container text-center">
  <div>
    <h1>Here is a map with all your SideQuests</h1>
    <%# still working on this !! PLEASE DON NOT TOUCH  %>
    <%#= render 'modal', sidequest: @sidequest %>
    <div>
      <% @sidequests.each do |sidequest|%>
        <a href="/side_quests/<%=sidequest.id%>"><%= sidequest.name%>
        <%= sidequest.address%>
        <%= sidequest.description%></a>
      <%end%>
    </div>
  </div>
</div>
<div class = "footer-info text-center">
  <div class = "btn">
    <%= link_to 'Show me this specific SideQuest', side_quests_path(@sidequests.last) %>
  </div>
</div>
