<div style="width: 100%; height: 150px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%=  ENV['MAPBOX_API_KEY'] %>" >
</div>
<div class = "content">
  <div class = "preferences-form">
    <div class = "text-center">
      <h1>Here is a map with all your SideQuests</h1>
      <%# still working on this !! PLEASE DON NOT TOUCH  %>
      <%#= render 'modal', sidequest: @sidequest %>
    <div>
    <% @sidequests.each do |sidequest|%>
      <a href="/side_quests/<%=sidequest.id%>"><%= sidequest.name%>
      <%= sidequest.address%>
      </a>
      <p><%= sidequest.description%></p>
    <%end%>
  </div>
</div>
<div class = "footer-info text-center">
  <div class = "btn">
    <%= link_to 'Show me this specific SideQuest', side_quests_path(@sidequests.last), class: "btn btn-link"  %>
  </div>
</div>
