<div class = "sidequest-photo">
  <div style="width: 100%; height: 250px;"
 data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%=  ENV['MAPBOX_API_KEY'] %>" >
  </div>
</div>
<div class="sidequest-card">
  <p><%= @sidequest.name %></p>
  <p><%= @sidequest.address %></p>
  <% @sidequest.reviews.each do |review| %>
    <li class='list-group-item'>
      <small>
        <% count = 0 %>
        <% 5.times do %>
          <% if review.rating > count %>
            <i class="fa-solid fa-star"></i>
          <% else %>
            <i class="fa-regular fa-star"></i>
          <% end %>
          <% count += 1 %>
        <% end %>
      </small>
      <p><%= review.body %></p>
    </li>
  <% end %>
  <div>
    <%= link_to 'See More Reviews',side_quest_reviews_path(@sidequest), class: 'btn-flat' %>
    <%= link_to 'Add a Review',new_side_quest_review_path(@sidequest), class: 'btn-flat' %>
    <%#= link_to 'Back',trip_path(@trip), class: 'btn-flat' %>
  </div>
</div>

<div class = "footer-info text-center">
  <div class = "btn">
    <%= link_to 'Add', new_side_quest_path, class: "btn btn-link" %>
  </div>
</div>
