<div class = "container text-center">
  <div style="width: 100%; height: 150px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" >
  </div>
  <div>
    <p><%= @sidequest.name %></p>
    <p><%= @sidequest.address %></p>
  </div>
  <%= link_to 'See More Reviews',side_quest_reviews_path(@sidequest), class: 'btn btn-outline-primary' %>
  <div>
    <%= link_to 'Add a Review',new_side_quest_review_path(@sidequest), class: 'btn btn-outline-primary' %>
  </div>
</div>
<div class = "footer-info text-center">
  <div class = "btn">
    <%= link_to 'Add', new_side_quest_path %>
  </div>
</div>
