<div style="width: 100%; height: 70%; display: none"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" >
</div>
<div class="sidequest-card">
  <small>
    <% if @sidequest.photo.present? %>
      <%= cl_image_tag @sidequest.photo.key, height: 800, crop: :fit, style: "width: 100%; height: 360px; margin-bottom: 20px; object-fit: cover; object-position: center;" %>
    <% end %>
    <h2 class="text-center"><%= @sidequest.name %></h2>
    <p class="text-center" >Address: <%= @sidequest.address %></p>
  </small>
</div>
<% unless @sidequest.reviews.empty?%>
  <div class='sidequest-review-card'>
    <h3 class="ps-3"> User Reviews: </h3>
    <% @sidequest.reviews.each do |review| %>
      <div>
        <div class="star-container">
          <% count = 0 %>
          <% 5.times do %>
            <% if review.rating > count %>
              <i class="fa-solid fa-star"></i>
            <% else %>
              <i class="fa-regular fa-star"></i>
            <% end %>
            <% count += 1 %>
          <% end %>
        </div>
        <p class="review-body"><%= review.body %> - <span><%= review.created_at.strftime("%Y/%m/%d") %></span></p>
      </div>
    <% end %>
    <div class="footer-info text-center">
      <div class="btn">
        <%= link_to 'ADD A REVIEW', new_trip_side_quest_review_path(@trip, @sidequest), class: 'btn foottext' %>
      </div>
    </div>
  </div>
<% else %>
  <div class = 'list-group-item' style="background: #E5E9F7;">
    <small>
      <p>There are no reviews for this sidequest as of yet, be the first to experience it and tell us how it went</p>
    </small>
  </div>
  <div class="footer-info text-center">
    <div class="btn">
      <%= link_to 'ADD A REVIEW', new_trip_side_quest_review_path(@trip, @sidequest), class: 'btn foottext' %>
    </div>
  </div>
<% end %>
