<div class = 'container'>
  <div class="column">
    <div class="col-12 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <%= simple_form_for [@sidequest, @review] do |f| %>
          <%= f.input :rating, collection: 0..5 %>
          <%= f.input :body%>
          <%= f.submit class: 'btn-flat' %>
          <%= link_to "Back", side_quests_path%>
        <% end %>
      </div>
    </div>
  </div>
</div>
