<div class="container py-5">
  <div class="column">
    <div class="col-12 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h2>Leave Your Review</h2>
        <%= simple_form_for [@sidequest, @review] do |f| %>
          <%= f.input :body %>
          <%= f.input :rating %>
          <%= f.submit class: 'btn btn-outline-success' %>
          <%= link_to "Submit", root_path, class: 'btn btn-outline-danger' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
