<h1> SideQuest</h1>
<%= @sidequest.name %>
<%= @sidequest.address %><br>
<% if @review %>
<%= @review.body%>
<%end%><br>
<%= link_to 'Create my SideQuest', new_side_quest_path, class: 'btn btn-outline-danger' %>
<%= link_to 'Leave a review', new_side_quest_review_path(@sidequest.id), class: 'btn btn-outline-danger' %>
